div {
  border: 1px dashed black;
}

.main-container {
  display: flex;
  border: 3px dashed red;
}


/*large column start*/

.column.large {
  border: 4px solid pink;
}

.main-story-mother {
  border: 3px solid magenta;
}

.lg-col-stories {
  border: 3px solid magenta;
}


/*large column end*/


/*medium column start*/

.column.medium {
  border: 4px solid lime;
}

.main-story-fbi {
  border: 3px solid green;
}

.story-cats {
  border: 3px solid green;
}


/*medium column end*/

.column.small {
  border: 4px solid lightblue;
}

.news-bites-img {
  border: 3px solid blue;
}


/*Header Start*/

header {
  display: flex;
  /*background-color: yellow;*/
  width: 100%;
  height: 90px;
  border-bottom: 1px solid #000;
  align-items: center;
  /*position: fixed;*/
  font-family: Verdana;
  font-weight: 14px;
  font-weight: bold;
  z-index: 10;
}

.logo {
  display: flex;
  padding-left: 30px;
  flex-grow: 1;
  color: MediumAquamarine;
  align-items: center;
  padding: left: 30px;
}

img {
  margin-right: 10px;
}

nav {
  /*background: lightgray;*/
  padding-right: 30px;
  display: block;
}

nav a {
  display: inline-block;
  color: black;
  padding: 15px;
  /*text-decoration: none;*/
}

nav a:hover {
  /*background-color: yellow;*/
  color: red;
  text-decoration: none;
}


/*Header End*/


/*Main Content Container Start*/
