div {
  border: 1px dashed black;
}

.main-container {
  display: flex;
  border: 3px dashed red;
}

.narrative {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}


/*large column start*/

.column.large {
  border: 4px solid pink;
  width: 630px;
}

.main-story-mother {
  border: 3px solid magenta;
}

.lg-col-stories {
  border: 3px solid magenta;
}

.img-main-story-mother {
  display: flex;
  background-image: url("../images/img-story-main.png");
  height: 300px;
  justify-content: center;
  flex-direction: column;
}

.img-main-story-mother span {
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
  text-align: left;
  margin-left: 20px;
}

.img-story-orca {
  display: flex;
  background-image: url("../images/img-story-2.png");
  height: 300px;
  justify-content: center;
  flex-direction: column;
}

.img-story-orca span {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: left;
  margin-left: 20px;
}

.img-story-burger {
  display: flex;
  background-image: url("../images/img-story-3.png");
  height: 300px;
  justify-content: center;
  flex-direction: column;
}

.img-story-burger span {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: left;
  margin-left: 20px;
}


/*large column end*/


/*medium column start*/

.column.medium {
  border: 4px solid lime;
  width: 300px;
}

.main-story-fbi {
  border: 3px solid green;
}

.story-cats {
  border: 3px solid green;
}

.img-story-cats {
  display: flex;
  background-image: url("../images/img-story-1.png");
  height: 300px;
  justify-content: center;
  flex-direction: column;
}

.img-story-cats span {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: left;
  margin-left: 20px;
}


/*medium column end*/

.column.small {
  border: 4px solid lightblue;
  width: 240px;
}

.news-bites-img {
  border: 3px solid blue;
}


/*Header Start*/

header {
  display: flex;
  /*background-color: yellow;*/
  width: 100%;
  height: 90px;
  border-bottom: 1px solid #000;
  align-items: center;
  /*position: fixed;*/
  font-family: Verdana;
  font-weight: 14px;
  font-weight: bold;
  z-index: 10;
}

.logo {
  display: flex;
  padding-left: 30px;
  flex-grow: 1;
  color: MediumAquamarine;
  align-items: center;
  padding: left: 30px;
}

img {
  margin-right: 10px;
}

nav {
  /*background: lightgray;*/
  padding-right: 30px;
  display: block;
}

nav a {
  display: inline-block;
  color: black;
  padding: 15px;
  /*text-decoration: none;*/
}

nav a:hover {
  /*background-color: yellow;*/
  color: red;
  text-decoration: none;
}


/*Header End*/


/*Main Content Container Start*/
